@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(164, 186, 183);
  background: linear-gradient(
    0deg,
    rgba(164, 186, 183, 1) 0%,
    rgba(227, 250, 247, 1) 100%
  );
}

.fancy {
  margin: 0;
  height: 100%;
  font-size: 128px;
  font-family: "Henny Penny", cursive;
  color: #f6c3d1;
  margin: auto;
  letter-spacing: 0.0015em;
  text-shadow: 0 1px #334454, -1px 0 #334454, -1px 2px #334454, -2px 1px #334454,
    -2px 3px #334454, -3px 2px #334454, -3px 4px #334454, -4px 3px #334454,
    -4px 5px #334454, -5px 4px #334454, -5px 6px #334454, -6px 5px #334454,
    -6px 7px #334454, -7px 6px #334454, -7px 8px #334454, -8px 7px #334454;
  text-align: center;
}
